.hero-container {
  position: relative;
  width: 100%;
  height: calc(100vh / 2.5);

}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #019ad479;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.hero-content {
  color: white;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
